<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head') %>
  </head>
  <body>
    <%- include('components/nav') %>

    <br />
    <%- include('components/product') %>

    <br />
    <%- include('components/pricing') %>
    <br />
    <%- include('components/footer') %>
  </body>
</html>
